<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petplant">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".scanDiseases.CameraDemoApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Experts.Activity_Expert"
            android:label="expert_main"/>
        <activity
            android:name=".reminders.calendar"
            android:label="@string/title_activity_calendar"/>
        <activity
            android:name=".reminders.reminders"
            android:label="@string/title_activity_reminders"
            android:theme="@style/StartTheme"/>
        <activity
            android:name=".reminders.CreateEditReminder"
            android:label="@string/title_activity_createedit"
            android:theme="@style/StartTheme"/>
    </application>
</manifest>